$green: #1DB954;
$green_hover: #1ED760;
$white: #e1e1e1;
$black: #181818;
$gray: #282828;
$light_gray: #404040;
$warning: #a94442;
$background_gradiant: linear-gradient(90deg, #181818, #27303d, #1f4e61, #00707a, #009180, #00a581, #23b87c, #4acb72, #63d888, #7be59d, #91f2b2, #a8ffc7);
