$green: #ffffff;
$green_hover: #eeeeee;
$white: #ffffff;
$black: #000000;
$green_contrast: $black;
$black_transparent: #000000;
$gray: #282828;
$gray_transparent: #ffffff;
$light_gray: #404040;
$warning: #a94442;
$background_gradiant: linear-gradient(90deg, #000000, #000000);
