<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

<header class="static">
  <h1 class="title">Exportify</h1>
  <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
    <%= link to: Routes.live_dashboard_url(@conn, :home), class: "dashboard" do%>
      <i class="fas fa-tachometer-alt"></i>
    <% end %>
  <% end %>
</header>

<main class="static">
  <%= @inner_content %>
</main>
