/* Write your global styles here*/
@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.light-mode {
  --bg-main-900: #f2f2fc;
  --bg-main-100: #fdf9ff;
  --bg-main-50: #e8dfec;
  --text-900: #302e4d;
  --text-700: #504e70;
}

.dark-mode {
  --bg-main-900: #151515;
  --bg-main-100: #222222;
  --bg-main-50: #393939;
  --text-900: #ffffff;
  --text-700: #e9e9e9;
}

.accent-orange {
  --accent: #fa5b0f
}

.accent-red {
  --accent: #ec1839
}

.accent-green {
  --accent: #37b182
}

.accent-blue {
  --accent: #1854b4
}

.accent-pink {
  --accent: #f021b2
}

body {
  min-height: 100vh;
  background-color: var(--bg-main-900);
  color: var(--text-900);
  font-family: "Poppins", "sans-serif";
}

a {
  text-decoration: none;
  color: var(--text-900);
}

a:hover {
  color: var(--accent);
}

