@use 'alerts';
@use 'defaults';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

header.static {
  width: 100%;
  position: fixed;
  margin-bottom: 0;
  border-bottom-width: 0;
  text-align: center;
  background-color: rgba(24, 24, 24, 0.65); //#181818
  box-shadow: 0 0 5px black;
  z-index: 2;
  height: 100px;

  .title {
    color: defaults.$green;
    text-shadow: 0 0 5px defaults.$black;
    margin: 0;
    padding: 20px;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: defaults.$title_font_stack;
  }


  .dashboard {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 150%;
    color: #404040;
    text-shadow: 0 0 3px #181818;
  }
}

main.static {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 40px;
}

